<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm"
      xmlns:HH="http://www.w3.org/1999/xhtml">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>



<div class="container">

    <div th:include="header"></div>


    <br>
    <!--<form th:action="@{/logout}" method="get">-->
        <!--<button class="btn btn-md btn-danger btn-block" name="registration"-->
                <!--type="Submit">Logout-->
        <!--</button>-->
    <!--</form>-->

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <!--<img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer"/>-->
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>



    <!---->
    <!--<div class="col-md-6 list">-->
        <!--<h4>Users</h4>-->
        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>User Id</th>-->
                <!--<th>User Name</th>-->
                <!--<th>User Email</th>-->
                <!--<th>Action</th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody>-->
            <!--<tr th:each="user : ${users}">-->
                <!--<td th:text="${user.id}"/>-->
                <!--<td th:text="${user.name}"/>-->
                <!--<td th:text="${user.email}"/>-->
                <!--<td th:if="${user.id} != 1">-->
                    <!--<a th:href="@{/admin/deleteUser(id=${user.id})}">Delete</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<div class="col-md-6 list">-->
        <!--<h4>Stocks</h4>-->

        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Stock</button>-->

        <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->

                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <!--<h4 class="modal-title" id="exampleModalLabel">Add New Stock</h4>-->
                    <!--</div>-->


                    <!--<div class="modal-body">-->
                        <!--<form th:action="@{/admin/addStock}" th:object="${newStock}" method="post">-->
                            <!--<div class="form-group">-->
                                <!--<label for="name">Stock Name:</label>-->
                                <!--<input type="text" class="form-control" id="name" th:field="*{stockName}"/>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="price">Stock Price:</label>-->
                                <!--<input type="number" step="any" class="form-control" id="price" th:field="*{stockPrice}"/>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="field">Stock Field:</label>-->
                                <!--<input type="text" class="form-control" id="field" th:field="*{stockField}"/>-->
                            <!--</div>-->

                            <!--<input type="submit" value="Submit" />-->
                        <!--</form>-->
                    <!--</div>-->


                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <!--&lt;!&ndash;<button type="submit" class="btn btn-primary">Comfirm</button>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;Add Stock button&ndash;&gt;-->

        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>No.</th>-->
                <!--<th>Stock Name</th>-->
                <!--<th>Stock Price</th>-->
                <!--<th>Stock Field</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody>-->
            <!--<tr th:each="stock: ${stocks}">-->
                <!--<td th:text="${stock.stockName}" />-->
                <!--<td th:text="${stock.stockName}" />-->
                <!--<td th:text="${stock.stockPrice}" />-->
                <!--<td th:text="${stock.stockField}" />-->
                <!--<td>-->
                    <!--<a th:href="@{/admin/deleteStock(id=${stock.stockName})}">Delete</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->


        <!--<table class="table col-md-6">-->
            <!--<h4 style="text-align: center; color: darkred;">Transaction History</h4>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>No.</th>-->
                <!--<th>User Id</th>-->
                <!--<th>Stock Name</th>-->
                <!--<th>Stock Price</th>-->
                <!--<th>Quantity</th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody>-->
            <!--<tr th:each="trade : ${trades}">-->
                <!--<td th:text="${trade.id}" />-->
                <!--<td th:text="${trade.userId}" />-->
                <!--<td th:text="${trade.stockName}" />-->
                <!--<td th:text="${trade.stockPrice}" />-->
                <!--<td th:text="${trade.quantity}" />-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->


    <!--</div>-->



</div>
</body>
</html>