<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm"
      xmlns:HH="http://www.w3.org/1999/xhtml">

<head>
    <!--<title>Admin Page</title>-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->


</head>

<body class="w3-content" style="max-width:1200px">


<!-- Sidebar/menu -->
<div th:include="header"></div>

<div class="w3-main" style="margin-left:250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Admin Page</p>
    </header>

    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="https://i.ebayimg.com/00/s/NTA1WDgwMA==/z/yucAAOSwfxFbiRe-/$_20.JPG" alt="Jeans" style="width:100%">
        <!--<div class="w3-display-topleft w3-text-white" style="padding:24px 48px">-->
        <!--<h1 class="w3-jumbo w3-hide-small">New arrivals</h1>-->
        <!--<h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>-->
        <!--<h1 class="w3-hide-small">COLLECTION 2016</h1>-->
        <!--<p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>-->
        <!--</div>-->
    </div>

</div>

<div th:include="footer"></div>



</div>
</body>
</html>