<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
</head>
<body class="w3-content" style="max-width:1200px">


<!-- Sidebar/menu -->
<div th:include="header"></div>


<div class="w3-main" style="margin-left:250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Home</p>
    </header>



        <h2 style="text-align: center;">Traders</h2>
        <table class="rwd-table" style="margin-top: 10px;" align="center">
            <thead>
            <tr>
                <th>Account Id</th>
                <th>Account Name</th>
                <th>Account Email</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"/>
                <td th:text="${user.name}"/>
                <td th:text="${user.email}"/>
                <td th:if="${user.id} != 1">
                    <a th:href="@{/admin/deleteUser(id=${user.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    <div th:include="footer"></div>

</div>

</body>
</html>