<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
</head>
<body class="w3-content" style="max-width:1200px">


    <!-- Sidebar/menu -->
    <div th:include="header"></div>

    <div class="w3-main" style="margin-left:250px">
        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>


        <div class="container">
        <label for="selectedStock" style="font-size: 25px; margin-left: 5%; margin-right: 15px;">Filter By:</label>
        <select name="selectedStock" id="selectedStock" style="height: 33px; margin-right: 15px;">
            <option th:each="stockPortfolio: ${stockPortfolios}" th:value="${stockPortfolio.stockName}" th:text="${stockPortfolio.stockName}"></option>
        </select>
        <button class="btn-info btn" onclick="filter(this)">View</button>
        </div>


        <table class="rwd-table" style="margin-top: 10px; margin-bottom: 20px" align="center">
            <thead>
            <tr>
                <th style="display: none">No. </th>
                <th>StockName</th>
                <th>Price</th>
                <th>DateTime</th>
                <th>Quantity</th>
            </tr>
            </thead>

            <tbody class="table-content">
            <tr th:each="trade: ${trades}">
                <td th:text="${trade.stockName}"></td>
                <td th:text="${trade.stockPrice}"></td>
                <td th:text="${trade.datetime}"></td>
                <td th:text="${trade.quantity}"></td>
            </tr>
            </tbody>
        </table>

    </div>



    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</body>
</html>