<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://java.sun.com/xml/ns/persistence/orm"
      xmlns:HH="https://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--<meta charset="UTF-8" />-->
    <title>User Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" th:src="@{/js/index.js}"/>-->
</head>

<body>

<div class="container">

    <h2>Wellcome to User page.</h2>


</div>
<!--<div class="container">-->
    <!--<form th:action="@{/logout}" method="get">-->
        <!--<button class="btn btn-md btn-danger btn-block" name="registration"-->
                <!--type="Submit">Logout-->
        <!--</button>-->
    <!--</form>-->

    <!--<div class="panel-group" style="margin-top:40px">-->
        <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
                <!--<span th:utext="${currentUser.getName()}"></span>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

    <!--<div>-->
        <!--<h4 style="text-align: center; color: darkred;">Stocks</h4>-->
        <!--<table class="table" id="stocks">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Stock Id</th>-->
                <!--<th>Stock Name</th>-->
                <!--<th>Stock Price</th>-->
                <!--<th>Stock Field</th>-->
                <!--<th>Action</th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody>-->
            <!--<tr th:each="stock: ${stocks}">-->
                <!--<td th:text="${stock.stockName}" />-->
                <!--<td th:text="${stock.stockName}" />-->
                <!--<td th:text="${stock.stockPrice}" />-->
                <!--<td th:text="${stock.stockField}" />-->
                <!--<td>-->

                    <!--&lt;!&ndash;The buy Modal&ndash;&gt;-->
                    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buy" data-whatever="@mdo">Buy</button>-->

                    <!--<div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">-->
                        <!--<div class="modal-dialog" role="document">-->
                            <!--<div class="modal-content">-->

                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                    <!--<h4 class="modal-title" id="exampleModalLabel">Confirm</h4>-->
                                <!--</div>-->

                                <!--<div class="modal-body">-->

                                    <!--<p th:text="${stock.stockName}"></p>-->

                                    <!--<form th:object="${newTrade}"-->
                                          <!--th:action="@{/user/newTrade(stockName=${stock.stockName}, stockPrice=${stock.stockPrice}, buy=true)}"-->
                                          <!--method="post">-->
                                        <!--<input type="number" th:field="*{quantity}" class="form-control" placeholder="Enter the quantity you want to buy.">-->

                                        <!--<br>-->
                                        <!--<br>-->

                                        <!--<div class="form-group">-->
                                            <!--<button type="button" class="btn btn-default" data-dismiss="modal" style="text-align: right">Close</button>-->
                                            <!--<button type="submit" class="btn btn-primary" style="text-align: end">Confirm</button>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->


                                <!--&lt;!&ndash;<div class="modal-footer">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--&lt;!&ndash;The sell Modal&ndash;&gt;-->
                    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sell" data-whatever="@fat">Sell</button>-->


                    <!--<div class="modal fade" id="sell" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">-->
                        <!--<div class="modal-dialog" role="document">-->
                            <!--<div class="modal-content">-->

                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                    <!--<h4 class="modal-title">Confirm</h4>-->
                                <!--</div>-->

                                <!--<div class="modal-body">-->

                                    <!--<p th:text="${stock.stockName}"></p>-->

                                    <!--<form th:object="${newTrade}"-->
                                          <!--th:action="@{/user/newTrade(stockName=${stock.stockName}, stockPrice=${stock.stockPrice}, buy=false)}"-->
                                          <!--method="post">-->
                                        <!--<input type="number" th:field="*{quantity}" class="form-control" placeholder="Enter the quantity you want to buy.">-->

                                        <!--<br>-->
                                        <!--<br>-->

                                        <!--<div class="form-group">-->
                                            <!--<button type="button" class="btn btn-default" data-dismiss="modal" style="text-align: right">Close</button>-->
                                            <!--<button type="submit" class="btn btn-primary" style="text-align: end">Confirm</button>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->


                                <!--&lt;!&ndash;<div class="modal-footer">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="submit" class="btn btn-default">Configrm</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->





                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

    <!--</div>-->


    <!--&lt;!&ndash;portfolio&ndash;&gt;-->
    <!--<div class="container col-md-6">-->
        <!--<h4 style="text-align: center; color: darkred;">Portfolio</h4>-->
        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>No.</th>-->
                <!--<th>Stock Name</th>-->
                <!--<th>Stock Quantity</th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody th:each="portfolio: ${portfolios}">-->
            <!--<tr th:if="${currentUser.id} == ${portfolio.userId}">-->

                <!--<td th:text="${portfolio.portforlioId}" />-->
                <!--<td th:text="${portfolio.stockName}" />-->
                <!--<td th:text="${portfolio.quantity}" />-->

            <!--</tr>-->

            <!--</tbody>-->

        <!--</table>-->
    <!--</div>-->


    <!--&lt;!&ndash;User trade history&ndash;&gt;-->
    <!--<div class="container col-md-6">-->
        <!--<h4 style="text-align: center; color: darkred;">Trade History</h4>-->

        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<td>Stock Name</td>-->
                <!--<td>Stock Price</td>-->
                <!--<td>Quantity</td>-->
                <!--<td>Date</td>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody th:each="trade: ${trades}">-->
            <!--<tr th:if="${currentUser.id} == ${trade.userId}">-->
                <!--<td th:text="${trade.stockName}" />-->
                <!--<td th:text="${trade.stockPrice}" />-->
                <!--<td th:text="${trade.quantity}" />-->
                <!--<td th:text="${trade.date}" />-->
            <!--</tr>-->
            <!--</tbody>-->


        <!--</table>-->

    <!--</div>-->

<!--</div>-->

</body>
</html>