<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://java.sun.com/xml/ns/persistence/orm"
      xmlns:HH="https://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--<meta charset="UTF-8" />-->
    <title>User Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/bond_check_date.js"></script>-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <style>
        .expiring {
            color: #FF1C19;
            font-weight: bold;
        }
    </style>
</head>
<body class="w3-content" style="max-width:1200px">


<!-- Sidebar/menu -->
<div th:include="header"></div>


<div class="w3-main" style="margin-left:250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Home</p>
    </header>



    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="https://ei.marketwatch.com/Multimedia/2018/01/16/Photos/ZH/MW-GB819_stocks_20180116134819_ZH.jpg?uuid=d1d56e68-faed-11e7-9db3-9c8e992d421e" alt="Jeans" style="width:100%">
    </div>

    <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Reminder & Option exercise</span></h4>
    <h4 class="w3-left w3-padding-16"><span class="w3-tag w3-wide">Options</span></h4>
    <table class="rwd-table" style="width: 100%" id="optionTable">
        <thead>
        <tr>
            <th style="display: none;">Option Trade ID</th>
            <!--<th>OCC</th>-->
            <th>Name</th>
            <th>Underlying</th>
            <th>Strike Price</th>
            <th>Option Value</th>
            <th>Expiration</th>
            <th>PUT/CALL</th>
            <th>Ame/Eur</th>
            <th>Days to expire</th>
            <th></th>
        </tr>
        </thead>

        <tbody id="content">
            <tr th:each="option: ${optionTrades}"  >
                <td th:text="${option.id}" id="id" style="display: none;"></td>
                <!--<td th:text="${option.occCode}"></td>-->
                <td th:text="${option.optionName}" id="optionName" class="optionTrades" onclick="checkQuantity(this)"></td>
                <td th:text="${option.underlying}" id="underlying"></td>
                <td th:text="${option.strikePrice}" id="strikePrice"></td>
                <td th:text="${option.optionValue}" id="optionValue"></td>
                <td th:text="${#dates.format(option.expire, 'yyyy-MM-dd')}" id="expiration"></td>
                <td th:text="${option.putCall}" id="putCall"></td>
                <td th:text="${option.ameEur}" id="ameEur"></td>
                <td class="daysLeft" onclick="calculateDays(this)"></td>
                <td>
                    <button class="btn btn-primary" onclick="exercise(this)">Exercise</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exercise" tabindex="-1" role="dialog" aria-labelledby="addStockLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addStockLabel">Exercise</h4>
                </div>
                <div class="modal-body">
                    <p id="successMsg"></p>
                    <p id="errorMsg" style="color: red;"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                </div>
            </div>
        </div>
    </div>

    <h4 class="w3-left w3-padding-16"><span class="w3-tag w3-wide">Bonds</span></h4>

    <table class="rwd-table" style="margin-top: 10px; margin-bottom: 20px; width: 100%;" align="center">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Face Value</th>
            <th>Coupon</th>
            <th>Issued On</th>
            <th style="display: none">Maturity Length(Years)</th>
            <th>Purchase Time</th>
            <th>Coupon Returned</th>
            <th>Days to Maturity</th>
        </tr>
        </thead>

        <tbody class="table-content">
        <tr th:each="bond: ${bondTrades}">
            <td th:text="${bond.bondName}" id="bondName" class="bondTrades" onclick="checkBondQuantity(this)"></td>
            <td th:text="${bond.value}" id="bondValue"></td>
            <td th:text="100.0"></td>
            <td th:text="${bond.coupon}" id="coupon"></td>
            <td th:text="${#dates.format(bond.issuedOn, 'yyyy-MM-dd')}" id="issuedOn"></td>
            <td th:text="${bond.maturityLength}" style="display: none" id="length"></td>
            <td th:text="${#dates.format(bond.datetime, 'yyyy-MM-dd')}"></td>
            <td th:text="${bond.returned}"></td>
            <td class="daysToMaturity" onclick="calculateMaturity(this)"></td>
        </tr>
        </tbody>
    </table>

    <div th:include="footer"></div>

    <script>
        $('.daysLeft').click();
        $('.optionTrades').click();
        $('.daysToMaturity').click();
        $('bondTrades').click();
    </script>
</div>


</body>
</html>