<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bond_check_date.js}"></script>
</head>
<body class="w3-content" style="max-width:1200px" onload="returnCoupon()">


<!-- Sidebar/menu -->
<div th:include="header"></div>


<div class="w3-main" style="margin-left:250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Portfolio</p>
    </header>



    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="https://ei.marketwatch.com/Multimedia/2018/01/16/Photos/ZH/MW-GB819_stocks_20180116134819_ZH.jpg?uuid=d1d56e68-faed-11e7-9db3-9c8e992d421e" alt="Jeans" style="width:100%">
        <!--<div class="w3-display-topleft w3-text-white" style="padding:24px 48px">-->
        <!--<h1 class="w3-jumbo w3-hide-small">New arrivals</h1>-->
        <!--<h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>-->
        <!--<h1 class="w3-hide-small">COLLECTION 2016</h1>-->
        <!--<p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>-->
        <!--</div>-->
    </div>

    <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide" id="stock">Stock</span></h4>
    <table class="rwd-table" style="margin-top: 10px; margin-bottom: 20px" align="center">
        <thead>
        <tr>
            <th>Stock Name</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="stockPortfolio: ${stockPortfolios}">
            <td th:text="${stockPortfolio.stockName}"></td>
            <td th:text="${stockPortfolio.quantity}"></td>
        </tr>
        </tbody>
    </table>



    <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide" id="option">Option</span></h4>
    <table class="rwd-table" style="margin-top: 10px; margin-bottom: 20px" align="center">
        <thead>
        <tr>
            <th>Option Name</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="optionPortfolio: ${optionPortfolios}">
            <td th:text="${optionPortfolio.optionName}"></td>
            <td th:text="${optionPortfolio.quantity}"></td>
        </tr>
        </tbody>
    </table>

    <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide" id="bond">Bond</span></h4>
    <table class="rwd-table" style="margin-top: 10px; margin-bottom: 20px" align="center">
        <thead>
        <tr>
            <th>Bond Name</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bondPortfolio: ${bondPortfolios}">
            <td th:text="${bondPortfolio.bondName}"></td>
            <td th:text="${bondPortfolio.quantity}"></td>
        </tr>
        </tbody>
    </table>

    <div th:include="footer"></div>
</div>

</body>
</html>