<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer -->
<div th:fragment="footer">
    <br><br>
    <div class="w3-black w3-center w3-padding-24" style="text-align: center">Powed by   &nbsp; &nbsp;<b>Spring Boot</b> &nbsp;&nbsp;  &  &nbsp;&nbsp; <b>MySQL</b> &nbsp;&nbsp;  & &nbsp;&nbsp;  <b>JavaScript</b>&nbsp;&nbsp;   &  &nbsp;&nbsp; <b>JQuery</b> </div>
</div>

</body>
</html>